body {
    display: flex;
    background-color: forestgreen;
}
main {
    margin: auto;
    /*to center all content*/
    min-height: 100vh;
    /*exact height screen*/
}
.title{
    width: 470px;
    text-align: center;
}
.explain{
    width: 470px;
}
#game{
    display: flex;
    position: relative;
    top: -100px;
}
img{
    width: 220px;
    height: auto;
    margin: 2px;
    cursor: pointer;
}
.card-back {
    position: absolute;
    backface-visibility: hidden;
    transition: transform 1s cubic-bezier(0.4, 0.0, 0.2, 1);
    transform-style: preserve-3d;

}
.card-front {
    backface-visibility: hidden;
    transition: transform 1s cubic-bezier(0.4, 0.0, 0.2, 1);
    transform-style: preserve-3d;
    transform: rotateY(180deg) rotateZ(50deg);
}
.flip .card-front {
    transform: rotate(180deg) rotateZ(50deg);
}
.flip .card-back {
    transform: rotateY(0) rotateZ(0);

}
#shuffle{
    background-color: greenyellow;
    border: 2px outset blue;
    text-align: center;
    position: relative;
    top: 140px;
    width: 100px;
    height: 50px;
    margin-bottom: 140px;
}
